.contact {
    padding-top: 90px;
    animation: appear 3s ease-in-out 0s 1;
    height: max-content;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-details>p {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.linkedin-button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 119, 181);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(0, 119, 181);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.linkedin-button span {
    margin: 10px;
}

.linkedin-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.linkedin-button:hover {
    color: #fff;
    border: 1px solid rgb(0, 119, 181);
}

.linkedin-button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}


.git-button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(36, 41, 46);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(36, 41, 46);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.git-button span {
    margin: 10px;
}

.git-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.git-button:hover {
    color: #fff;
    border: 1px solid rgb(36, 41, 46);
}

.git-button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(36, 41, 46);
}


/* From Uiverse.io by Mangesh636 */
.mail-button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.mail-button span {
    margin: 10px;
}

.mail-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.mail-button:hover {
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
}

.mail-button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 0, 0);
}

.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    transition: all 3s;
}

.asd:hover{
    scale: 1.2;
}